body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.container {
  display: grid;
  width: 100vw;
  max-width: 1200px;
  margin: 40px auto;
}

input {
  display: none;
}

.slider {
  position: relative;

  display: inline-block;
  overflow: hidden;

  width: 100%;
  height: auto;

  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px gray;
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
  height: 0; 
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
}

.slide1 > .slide-img,
.slide2 > .slide-img,
.slide3 > .slide-img,
.slide4 > .slide-img,
.slide5 > .slide-img {
  object-fit: cover;
  border: 0 1px 0 1px solid #030303;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out 0s;
}


#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  height: auto;
  width: 100%;
	opacity: 1;
	z-index: 1;
  transform: scale(1);
}

#slide1:checked ~ .slider > .slide1 > img,
#slide2:checked ~ .slider > .slide2 > img,
#slide3:checked ~ .slider > .slide3 > img,
#slide4:checked ~ .slider > .slide4 > img,
#slide5:checked ~ .slider > .slide5  > img{
  object-fit: cover;
  width: 100%;
  height: auto;
	opacity: 1;
	z-index: 1;
  transform: scale(1);
}

#slide1:checked ~ .slider > .slide1 > .slide-text,
#slide2:checked ~ .slider > .slide2 > .slide-text,
#slide3:checked ~ .slider > .slide3 > .slide-text,
#slide4:checked ~ .slider > .slide4 > .slide-text,
#slide5:checked ~ .slider > .slide5  > .slide-text{
  transform: translateX(0%);
}

.slide-text {
  margin: 20px 0 0 0;
  padding: 0 0 0 10px;
  font-size: 35px;
  transform: translateX(-100%);
  transition: all 0.8s ease-in-out 0.2s;
  background-color: #ffffff;
}

.controls {
  position: relative;
  z-index: 2;
  transform: translateY(-100%);
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;

  margin: 0;
  width: clamp(120px, 220px, 420px);
  color: #000;
}

.controls label {
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0;
  /* border-radius: 50px; */
  background-color: red;
}




