body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #48aa7c);
}

.container {
  display: grid;

  width: 100vw;
  max-width: 1200px;
  margin: 40px auto;

  background: transparent;
}

input {
  display: none;
}

.slider {
  position: relative;

  display: inline-block;
  overflow: hidden;

  width: 100%;
  height: auto;

  border-radius: 10px;
  background: transparent;
  box-shadow: 5px 5px 5px gray;
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
  z-index: 0;
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 0; 
  
  opacity: 0;
}

.slide1 > .slide-img,
.slide2 > .slide-img,
.slide3 > .slide-img,
.slide4 > .slide-img,
.slide5 > .slide-img {
  object-fit: cover;

  transform: translateX(-100%);

  border: 0 1px 0 1px solid #030303;
  transition: all 0.5s ease-in-out 0s;
}


#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  z-index: 1;

  width: 100%;
  height: auto;
  
	opacity: 1;
}

#slide1:checked ~ .slider > .slide1 > img,
#slide2:checked ~ .slider > .slide2 > img,
#slide3:checked ~ .slider > .slide3 > img,
#slide4:checked ~ .slider > .slide4 > img,
#slide5:checked ~ .slider > .slide5  > img{
  z-index: 1;
  object-fit: cover;

  width: 100%;
  height: auto;

	opacity: 1;
  transform: scale(1);
}

#slide1:checked ~ .slider > .slide1 > .slide-text,
#slide2:checked ~ .slider > .slide2 > .slide-text,
#slide3:checked ~ .slider > .slide3 > .slide-text,
#slide4:checked ~ .slider > .slide4 > .slide-text,
#slide5:checked ~ .slider > .slide5  > .slide-text{
  transform: translateX(0%);
}

.slide-text {
  margin: 20px 0 0 0;
  padding: 0 0 0 10px;
  font-size: 35px;
  transform: translateX(-100%);
  transition: all 0.6s ease-in-out 0.2s;
}

.controls {
  position: relative;
  z-index: 2;

  margin: 0;
  width: clamp(120px, 220px, 420px);

  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  
  transform: translateY(-100%);
}

.controls label {
  width: 40px;
  height: 40px;
  margin: 0;

  line-height: 40px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s linear 0s;
}

.controls label::before {
  content: '';
  position: relative;
  top: 18.5%;
  left: 30%;

  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s linear 0s;
} 

#slide1:checked ~ .controls label:nth-of-type(1):active::before,
#slide2:checked ~ .controls label:nth-of-type(2):active::before,
#slide3:checked ~ .controls label:nth-of-type(3):active::before,
#slide4:checked ~ .controls label:nth-of-type(4):active::before,
#slide5:checked ~ .controls label:nth-of-type(5):active::before {
  transform: scale(2.5);
  opacity: 1;
  background-color: #ebc313;
}

.controls label:nth-of-type(1):active::before,
.controls label:nth-of-type(2):active::before,
.controls label:nth-of-type(3):active::before,
.controls label:nth-of-type(4):active::before,
.controls label:nth-of-type(5):active::before {
  transform: scale(2.5);
  opacity: 1;
  background-color: #faf609;
}


.controls label::after {
  content: '';
  position: relative;
  top: -80%;
  left: 19%;

  display: inline-block;
  min-width: 25px;
  min-height: 25px;

  border: 3px solid #2a8dad;
  border-radius: 50%;
  background: transparent;
} 

#slide1:checked ~ .controls label:nth-of-type(1)::after,
#slide2:checked ~ .controls label:nth-of-type(2)::after,
#slide3:checked ~ .controls label:nth-of-type(3)::after,
#slide4:checked ~ .controls label:nth-of-type(4)::after,
#slide5:checked ~ .controls label:nth-of-type(5)::after {
  border: 3px solid #0feec9;
}

#slide1:checked ~ .controls label:nth-of-type(1):hover::after,
#slide2:checked ~ .controls label:nth-of-type(2):hover::after,
#slide3:checked ~ .controls label:nth-of-type(3):hover::after,
#slide4:checked ~ .controls label:nth-of-type(4):hover::after,
#slide5:checked ~ .controls label:nth-of-type(5):hover::after {
  border: 3px solid #1759e9;
  background-color: transparent;
}

label:hover::after {
  background-color: #ffffff;
}


@media (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
  }
}

@media (max-width: 768px) {
  .slide-text {
    margin: 60px 0 0 0;
    font-size: 30px;
  }

  .controls {
    transform: translateY(-270%);
    justify-self: center;
  }

  .controls label {
    line-height: 30px;
    width: 30px;
    height: 30px;
  }

  .controls label::after {
    min-width: 15px;
    min-height: 15px;
  } 

}
